<!-- Overlay -->
<div *ngIf="open" class="pm-overlay" (click)="onCancel()" (keydown)="esc($event)" tabindex="0">
  <!-- Modal -->
  <div class="modal" (click)="$event.stopPropagation()">
     <div class="modal-header">
       <span class="logo"></span>
       <h3 class="modal-title">InventarioPRO - Nuevo Producto</h3>
     </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="modal-body">
      <label class="field">
        <span>SKU</span>
        <input type="text" formControlName="sku" placeholder="SKU-001" />
      </label>
      <label class="field span-2">
        <span>Nombre del Producto</span>
        <input type="text" formControlName="nombre" placeholder="Nombre del producto" />
      </label>
      <label class="field span-2">
        <span>Categoría</span>
        <input type="text" formControlName="categoria" list="categoriaOpciones" placeholder="Escribe o selecciona" />
      </label>
       <label class="field">
         <span>Stock Mínimo</span>
         <input type="number" formControlName="minimo" />
         <small class="hint">Fijo en 10</small>
       </label>
      <label class="field">
        <span>Stock Máximo</span>
        <input type="number" formControlName="stockMaximo" />
      </label>
      <label class="field">
        <span>Stock</span>
        <input type="number" formControlName="stock" />
      </label>
      <label class="field">
        <span>Precio Unitario</span>
        <input type="number" formControlName="precioUnitario" />
      </label>
      <label class="field span-2">
        <span>Descripción</span>
        <textarea formControlName="descripcion" rows="3" placeholder="Descripción del producto"></textarea>
      </label>
      <div class="actions span-2">
        <button type="button" class="btn ghost" (click)="onCancel()">Cancelar</button>
        <button type="submit" class="btn primary" [disabled]="guardando">{{ guardando ? 'Guardando...' : 'Guardar Producto' }}</button>
      </div>
    </form>
  </div>
</div>
<datalist id="categoriaOpciones">
  <option *ngFor="let c of sugerencias" [value]="c"></option>
</datalist>