<div class="auth-bg">

<mat-card class="auth-card">

<mat-card-header class="logo">

<mat-icon>inventory_2</mat-icon>

<div>

<h1>InventarioPRO</h1>

<small>Sistema de Control de Inventario</small>

</div>

</mat-card-header>

<form [formGroup]="form" (ngSubmit)="submit()">

<mat-form-field appearance="outline" class="w100">

<mat-label>Usuario</mat-label>

<input matInput formControlName="nombreUsuario" autocomplete="username" />

</mat-form-field>

<mat-form-field appearance="outline" class="w100">

<mat-label>Contraseña</mat-label>

<input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="current-password" />

<button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar/Mostrar'">

<mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>

</button>

</mat-form-field>

<button mat-raised-button color="primary" class="w100" [disabled]="form.invalid || loading">

<mat-icon>login</mat-icon>&nbsp; {{ loading ? 'Ingresando...' : 'Iniciar sesión' }}

</button>

</form>

<div class="links">

<a routerLink="/register">Crear cuenta</a>

</div>

<div class="roles">Roles: Admin | Supervisor | Operador</div>

</mat-card>

</div>